footer {
    width: 100%;
    background: #4D3216;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer p {
    margin: 0;
    color: #B99057;
    text-align: center;
    padding: 1rem;
}